/* Add CSS Styling */
.odd {
    background-color: pink;
    color: black;
    font-family: Verdana,"DejaVu Sans", sans-serif;
    text-align: left;
}

#even{
    color: blue;
    font-size: 36px;
}
.adjust-text-size{
    font-size: 24px;
}

.unique-background{
    background-color: rgb(11, 202, 11);
    font-weight: bold;
    font-size: 24px;
}